<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Mahjong/mahjong_big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,154},{48,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,69}</string>
			</dict>
			<key>Mahjong/mahjong_big_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,79},{56,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,75}</string>
			</dict>
			<key>Mahjong/mahjong_big_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,994},{14,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,70}</string>
			</dict>
			<key>Mahjong/mahjong_big_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,76},{47,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,70}</string>
			</dict>
			<key>Mahjong/mahjong_big_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1},{38,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,70}</string>
			</dict>
			<key>Mahjong/mahjong_big_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,381},{45,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,70}</string>
			</dict>
			<key>Mahjong/mahjong_big_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,275},{45,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,71}</string>
			</dict>
			<key>Mahjong/mahjong_big_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,204},{43,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,72}</string>
			</dict>
			<key>Mahjong/mahjong_big_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,275},{45,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,70}</string>
			</dict>
			<key>Mahjong/mahjong_big_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1},{44,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,938},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,126},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Mahjong/mahjong_big_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,988},{33,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,66}</string>
			</dict>
			<key>Mahjong/mahjong_big_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,383},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>
			<key>Mahjong/mahjong_big_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,148},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>Mahjong/mahjong_big_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,76},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>Mahjong/mahjong_big_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,274},{41,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,72}</string>
			</dict>
			<key>Mahjong/mahjong_big_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,469},{53,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,76}</string>
			</dict>
			<key>Mahjong/mahjong_big_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1},{40,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,79},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,785},{48,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,76}</string>
			</dict>
			<key>Mahjong/mahjong_big_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,156},{56,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,75}</string>
			</dict>
			<key>Mahjong/mahjong_big_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,140},{49,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,59}</string>
			</dict>
			<key>Mahjong/mahjong_big_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,191},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>Mahjong/mahjong_big_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,199},{47,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,54}</string>
			</dict>
			<key>Mahjong/mahjong_big_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,433},{46,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,76}</string>
			</dict>
			<key>Mahjong/mahjong_big_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,214},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>Mahjong/mahjong_big_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,863},{50,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,547},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,450},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,627},{48,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>Mahjong/mahjong_big_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,547},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,383},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,706},{48,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>Mahjong/mahjong_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,845},{25,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,347},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,214},{7,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,249},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,526},{19,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,248},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,248},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,247},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,882},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,249},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,41},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,580},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>Mahjong/mahjong_small_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,450},{15,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,884},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,623},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,547},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,917},{19,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,40},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,526},{19,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1},{27,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,43},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,344},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,46}</string>
			</dict>
			<key>Mahjong/mahjong_small_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,348},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>
			<key>Mahjong/mahjong_small_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>Mahjong/mahjong_small_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,36},{29,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,33}</string>
			</dict>
			<key>Mahjong/mahjong_small_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,43},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,348},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>
			<key>Mahjong/mahjong_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,806},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,845},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,317},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,317},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,806},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,41},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{63,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,80}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,271},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,68},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{75,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,111}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,178},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_right_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{63,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,80}</string>
			</dict>
			<key>Mahjong/mahjong_tile_right_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,70},{56,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,51}</string>
			</dict>
			<key>Mahjong/mahjong_tile_right_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,391},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,227},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>Mahjong/mahjong_tile_top_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,110},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_top_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,623},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_top_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,684},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_top_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,745},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>Mahjong/mahjong_tile_fly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,114},{75,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,111}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,68},{56,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,51}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,305},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>Mahjong/mahjong_tile_right_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>Mahjong/mahjong_big_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,469},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,544},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,619},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,694},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_big_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{56,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,73}</string>
			</dict>
			<key>Mahjong/mahjong_small_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,938},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,905},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,975},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,928},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,965},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1002},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,928},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,965},{21,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Mahjong.png</string>
			<key>realTextureFileName</key>
			<string>Mahjong.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>