<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Butterfly3UI/butterfly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,417},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,157},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,209},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly3UI/butterfly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>butterfly3.png</string>
			<key>realTextureFileName</key>
			<string>butterfly3.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>