<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Butterfly2UI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,417},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,157},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,209},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,365},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,417},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,157},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,209},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,261},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,365},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,417},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Butterfly2UI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,105},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>butterfly2.png</string>
			<key>realTextureFileName</key>
			<string>butterfly2.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>