<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Butterfly1UI/butterfly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,205},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,613},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,205},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,307},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,409},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,511},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,613},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,715},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,919},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,205},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,307},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,409},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,511},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,613},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,715},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Butterfly1UI/butterfly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,919},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>butterfly1.png</string>
			<key>realTextureFileName</key>
			<string>butterfly1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>