<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_win1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1},{43,40}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{321,263}}</string>
				<key>offset</key>
				<string>{8,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{329,275}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win12.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,277},{312,281}}</string>
				<key>offset</key>
				<string>{8,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win13.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1146},{303,276}}</string>
				<key>offset</key>
				<string>{12,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,550},{305,283}}</string>
				<key>offset</key>
				<string>{10,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1373},{301,274}}</string>
				<key>offset</key>
				<string>{11,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win16.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,835},{309,273}}</string>
				<key>offset</key>
				<string>{9,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1100},{310,271}}</string>
				<key>offset</key>
				<string>{9,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win18.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1103},{311,270}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win19.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,560},{315,271}}</string>
				<key>offset</key>
				<string>{6,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win2.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,833},{72,69}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win20.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,564},{317,269}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win21.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,833},{318,268}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win22.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1},{321,274}}</string>
				<key>offset</key>
				<string>{3,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win3.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1627},{266,216}}</string>
				<key>offset</key>
				<string>{35,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1649},{284,224}}</string>
				<key>offset</key>
				<string>{36,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win5.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1451},{291,227}}</string>
				<key>offset</key>
				<string>{34,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win6.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1375},{327,250}}</string>
				<key>offset</key>
				<string>{13,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win7.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1},{320,281}}</string>
				<key>offset</key>
				<string>{17,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win8.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,284},{315,278}}</string>
				<key>offset</key>
				<string>{15,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
			<key>effect_win9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{328,270}}</string>
				<key>offset</key>
				<string>{7,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,322}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect_win.png</string>
			<key>realTextureFileName</key>
			<string>effect_win.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>